<div class="container">
<div>
<div class="header">
  <div>
  <%= link_to "Back", groups_path, class: "back-btn" %>
</div>
  <h1>
    Transaction
  </h1>
</div>



  <% @entities.each do |(user_id, group_id), entities| %>
<div class="info">
<div class="user-group">
      <p><strong>Group:</strong>  <%= Group.find(group_id).name %></p>
</div>
      <p><strong>Total:</strong>  <%= number_to_currency(@totals[[user_id, group_id]]) %></p>
</div>
          <div class="category-container">
            <% entities.each do |entity| %>
             <div class="category-col">
              <%= render partial: "entity", locals: { entity: entity } %>
            </div>
            <% end %>
          </div>
  <% end %>
</div>

<div class="button-container">
<%= link_to "New Transaction", new_group_entity_path(@group), class: "button" %>
</div>
